@import "partials/variables";
@import "partials/reset";

body {
  background-color: $white;
  font-family: $primaryFont;
  font-size: $baseFont;
  color: $text;
}

// sass/partials/_variables.scss
// $bg-color: #f0f0f0;

// sass/partials/_mixins.scss
// @mixin border-radius($radius) {
//   -webkit-border-radius: $radius;
//   -moz-border-radius: $radius;
//   border-radius: $radius;
// }
