<header class="header">
  <div class="brand">
    <span class="brand__name">Foodie</span>
  </div>
  <nav class="nav">
    <li class="nav__item"><a href="/">Home</a></li>
    <li class="nav__item"><a href="/offer">Offer</a></li>
    <li class="nav__item"><a href="/services">Services</a></li>
    <li class="nav__item"><a href="/menu">Menu</a></li>
    <li class="nav__item"><a href="/about-us">About Us</a></li>
  </nav>
  <div class="cta">
    <a href="#" class="cta__btn cta__btn--login">Login</a>
    <a href="#" class="cta__btn cta__btn--signup">Sign Up</a>
  </div>
</header>
