@use "sass:map";

/* Roboto  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
// Roboto
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
// PT Sans
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
// IBM Plex sans
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

$primary: #e75756;
$secondary: #facd61;
$gradient: #feeadf;
$bg: #fbfbfb;
$headings: #2c2c2c;
$text: #959595;

$baseFont: 18px;
$smFont: 16px;
$xsFont: 14px;
$mdFont: 20px;
$lgFont: 22px;
$xlFont: 26px;

$primaryFont: "Inter";
$secondaryFont: "Roboto";

// LAYOUT
$breakpoints: (
  "xs": 480px,
  "sm": 768px,
  "md": 1024px,
  "lg": 1280px,
  "xl": 1440px,
  "xxl": 1660px,
);

$max-w-breakpoint: map.get($breakpoints, "xl");
